/* ---------------------------------------------------*
 | Clean and easy management of responsive breakpoints
 * ---------------------------------------------------*/

// $learn | https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862

// Breakpoints
// --------------------------------------------------

$at-phone: 599px;

$at-tablet: 600px;
$at-large-tablet: 900px;

$at-screen: 1200px;
$at-large-screen: 1800px;


// Mixins
// --------------------------------------------------

@mixin phone {
  @media screen and (max-width: $at-phone) { @content; }
}
@mixin tablet {
  @media screen and (min-width: $at-tablet) { @content; }
}
@mixin tablet-large {
  @media screen and (min-width: $at-large-tablet) { @content; }
}
@mixin screen {
  @media screen and (min-width: $at-screen) { @content; }
}
@mixin screen-large {
  @media screen and (min-width: $at-large-screen) { @content; }
}