/* ---------------------------------------------------*
 | Clean and easy management of fixed layout values
 * ---------------------------------------------------*/

// Layout Sizes
// --------------------------------------------------

// Example :
$topbar-height: 80px;
$sidebar-width: 250px;
$footer-height: 190px;